*\nbproject\*
/ServiciosSociales/build/
/ServiciosSociales/dist/
ServiciosSociales/nbproject/project.properties
*.properties
ServiciosSociales/nbproject/private/private.properties
ServiciosSociales/nbproject/private/private.xml
